<!DOCTYPE html>
<html lang="en">


<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-2.1.4.min.js"></script>
</head>
<body screen_capture_injected="true">
        <form class="col-sm-offset-4 col-sm-4 form-horizontal" role="form" method="post" onsubmit="return false">
            <fieldset>
                <legend></legend>
                        <input type="text" class="form-control" id="username" placeholder="请输入用户名" required>
                        <input type="text" class="form-control" id="password" placeholder="请输入密码" required>
                        <button type="submit" class="btn btn-primary btn-block" id="login0">登录</button>
                        <button type="button" class="btn btn-info col-sm-2 col-sm-offset-10" id="register0">注册</button>
            </fieldset>
        </form>

    <script type="text/javascript">
    $(function(){
        $("#login0").click(function(){
            var username = $("#username").val();
            var password = $("#password").val();
            var data = {"uname":username,"upwd":password};
            $.ajax({
                url:'/login',
                type:'post',
                data: data,
                success: function(data,status){
                    if(status == 'success'){
                        location.href = 'home';
                    }
                },
                error: function(data,status){
                    if(status == 'error'){
                        location.href = 'login';
                    }
                }
            });
        });
    });
    </script>
</body>
</head>
</html>
